.board-container {
	width: min-content;
}
.board {
	display: flex;
	flex-wrap: wrap;
	flex: 0;
	padding: 10px;
	border: 1px solid brown;
	background-color: #fff;
	/* box-shadow: 0 12px 40px -18px rgba(0, 0, 0, 0.4); */
}
