.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	/* height: 70px; */
	background: #ddb892;
	border: 1px solid rgba(188, 108, 37, 0.5);
	cursor: not-allowed;
	aspect-ratio: 1/1;
}

.cell.placeholder {
	background-color: green;
}
