
.wall-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 300px;
	padding: 20px;
	background: #95d5b2;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 12px 40px -18px rgba(0, 0, 0, 0.4);
}
.wall-box.left {
	margin-right: 50px;
}
.wall-box.right {
	margin-left: 50px;
}