.wall-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 280px;
	padding: 10px;
	background: #ab95d5;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 12px 40px -18px rgba(0, 0, 0, 0.4);
}
.wall-box.left {
	margin-right: 50px;
	margin-left: 10px;
	background: #000;
	color: #fff;
}
.wall-box.right {
	margin-left: 50px;
	margin-right: 10px;
	background: #fff;
	color: #000;
}

.wall-box h1,
.wall-box h3 {
	text-align: center;
}

@media screen and (max-width: 767px) and (min-width: 100px) {
	.wall-box.left {
		margin-right: 0px;
	}
	.wall-box.right {
		margin-left: 0px;
	}
	.wall-box h1 {
		font-size: 24px;
	}
	.wall-box h3 {
		font-size: 16px;
	}
}
