.wall {
	transition: all 0.5s;
}
.wall.horr {
	width: 70px;
	height: 10px;
	margin-right: 10px;
}
.horr:nth-child(9n - 9) {
	margin-right: 0;
}
.wall.vert {
	width: 10px;
	height: 70px;
}
.wall.active {
	background-color: #000;
}
.wall:hover {
	background-color: aquamarine;
}

@media screen and (max-width: 767px) and (min-width: 100px) {
	.board .wall {
		width: 25px;
		height: 5px;
	}
}
