.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table {
	display: flex;
	flex-wrap: wrap;
	width: 730px;
	padding: 10px;
	box-shadow: 0 12px 40px -18px rgba(0, 0, 0, 0.4);
}

.wall-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 300px;
	padding: 20px;
	background: #95d5b2;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 12px 40px -18px rgba(0, 0, 0, 0.4);
}
.wall-box .left {
	margin-right: 50px;
}
.wall-box .right {
	margin-right: 50px;
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	/* height: 70px; */
	background: #ddb892;
	border: 1px solid rgba(188, 108, 37, 0.5);
	cursor: not-allowed;
  aspect-ratio: 1/1;
}
